<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
      <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
</head>
<body>
    <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="#news">Data</a>
      <a href="#contact">About Us</a>
      <a href="#about">Sources</a>
    </div>
    <div class="headerContainer">
      <h1>United States Mortality Rates</h1>
      <h3>What are the deadliest diseases of your state?</h3>
    </div>
    <div id='myDiv'><!-- Choropleth --></div>
    <div class="container">
        <div class="row">
          <div class="col-md-12 jumbotron text-center">
            <p>Use the interactive charts below to explore the dataset</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="well">
              <h5>Pick a State from the dropdown menu</h5>
              <select id="selDataset" onchange="optionChanged(this.value)">
                {% for x in data[0] %}
                <option value="{{ x }}">{{ x }}</option>
                {% endfor %}
              </select>
              <select id="selYear" onchange="yearChanged(this.value)">
                {% for x in data[1] %}
                <option value="{{ x }}">{{ x }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-5">
            <div id="chart-container"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
      </div>
    <section class="aboutContainer">
      <h2 class="aboutUsText">About Us</h2>
      <p class="aboutUsText">We are a group of students from the Data Analytics course provided by the University of California, Berkeley Extension program and edX. We chose this project because...<i>why did we chose this project guys? What's a good reason to put here?</i></p>
      <ul>
          <li><a href="https://github.com/AbousamraEd" target="_blank" rel="noopener noreferrer">Ahmed Abousamra</a></li>
          <li><a href="https://github.com/shriparna" target="_blank" rel="noopener noreferrer">Shridhar Kamat</a></li>
          <li><a href="https://github.com/CiciRose" target="_blank" rel="noopener noreferrer">Cecilia Rosete</a></li>
          <li><a href="https://github.com/sncrsenyurt" target="_blank" rel="noopener noreferrer">Irfan Senyurt</a></li>
          <li><a href="https://github.com/VinnyShankar" target="_blank" rel="noopener noreferrer">Vinayak Shankar</a></li>
          <li><a href="https://github.com/Nolan-Tonthat" target="_blank" rel="noopener noreferrer">Nolan Tonthat</a></li>
      </ul>
    </section>
    <!-- <script src='https://cdn.plot.ly/plotly-2.24.1.min.js'></script> -->
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script> -->
    <script src="https://fastly.jsdelivr.net/npm/jquery"></script>
    <script src="https://fastly.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>  
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
<!-- <footer>
    <section class="footerContainer">
        <img src="../images/ucb_logo.PNG">
        <img src="../images/edx_logo.PNG">
        <img src="../images/cdc_logo.PNG">
    </section>
</footer> -->
</html>
<!-- {{ url_for('static', filename='js/app.js') }} -->