Project 3 Requirements

1. Python Flask API
2. HTML
3. JavaScript
4. Database (SQL or MongoDB or SQLite)
5. Pick one:
    Web scraping + Leaflet or Plotly
    Dashboard
    Server
8. One JavaScript library not covered in class
9. Dataset with 100+ records
10. User interaction (menu, dropdown, etc.)
11. At least three visualizations
12. Pick an industry, for example:
    Finance
    Health
    Transportation
    Weather

Technical requirements

1. Data and Delivery (25)
2. Back End (25)
3. Visualizations (25)
4. Group Presentation (25)

Topic: Top 10 Diseases by state
Sub-topic: Disease-related mortality rate by state
Database type: SQLite
Tech: Python Flask API, JavaScript, HTML
Visuals: Leaflet Map, Interactive Dashboard
New JS library: Recharts

db browser sqlite